In [2]:
import db데이터처리 as db
import pandas as pd
from 모델 import GCN_Model

In [ ]:
realResult = pd.read_csv('C:/big18/final/test/000660_11이진분류Vector.csv')
realResult = realResult['18']

In [68]:
realResult = realResult[1:].reset_index(drop=True)

In [56]:
realPrice = pd.read_csv('C:/big18/final/test/000660_11.csv')
realPrice = realPrice['종가']
realPrice = realPrice[13:].reset_index(drop=True)

In [60]:
realPrice = pd.DataFrame(realPrice)

In [44]:
pred_list=[]

In [ ]:
for i in range(370):
    data = db.get_vector_list('000660', 11+i)
    pred = GCN_Model(data)
    pred_list.append(pred)

In [59]:
pred_list = pred_list[:-3]

     0
0    1
1    1
2    0
3    0
4    0
..  ..
362  0
363  1
364  1
365  1
366  1

[367 rows x 1 columns]

In [70]:
result_df = pd.concat([realPrice, realResult, pred_list],axis=1)

In [72]:
result_df['18'] =result_df['18'].astype(int)

In [82]:
result_df.rename(columns={0:'예측'},inplace=True)

In [83]:
result_df

         종가  18  예측
0    156500   0   1
1    156000   0   1
2    155400   0   0
3    155000   0   0
4    155300   0   0
..      ...  ..  ..
362  156300   1   0
363  156400   1   1
364  156400   1   1
365  156500   1   1
366  156600   1   1

[367 rows x 3 columns]

In [84]:
result_df['flag'] = result_df['18'] == result_df['예측']

In [86]:
result_df['flag'].value_counts()

flag
False    189
True     178
Name: count, dtype: int64